@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

* {
    margin:0;
    font-family: 'Montserrat', sans-serif;
    padding: 0% ;
}

/* Header */
#topo img{
width: 100px;
}
#topo {
    /* display: inline; */
    height: 150px;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    padding: 1em;
    width: 100vw;
    margin-bottom: 1em;
}
.logo{
    display: flex;
}
.titulo{
    color: rgb(255, 221, 0);
}

/* Wrapper */
#lista-container nav{
    width: 100vw;
    background-color: rgb(255, 169, 84);
    justify-content: space-around;
}
#lista-container nav ul{
    display: flex;
    justify-content: space-around;
}

#lista-container nav ul li{
    display: block;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    
}



.item-lista{
    block-size: auto;
}
